
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_ALaModeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Helpful tool to figure out what clothes would fit best based on body type">
    <meta name="keywords" content="what's my body type, what clothes would look good on me, what should I wear">
    <meta name="author" content="Victoria Joseph">
    <title>À La Mode | About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">À</span> La Mode</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="about">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="services">Services</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @*<section id="newsletter">
        <div class="container">
            <h1>Subscribe To Our Newsletter</h1>
            <form>
                <input type="email" placeholder="Enter Email...">
                <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>*@

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">About À La Mode</h1>
                <p>
                    Hello and welcome to this one stop shop to help better your shopping and dressing experience. 
                </p>
                <p class="dark">
                   For me, I feel it's difficult to shop for myself when dressing above "Athleisure". I always thought I was a pear shape, but turns out I'm more of a rectangle shape like most women, this has helped me find out what clothes are recommended for me so that I can effectively help myself, and now hopefully others.
                </p>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>What This Site Does</h3>
                    <p>
                        This site is a resource to figure you out. Here, there's the option to find out your shape, a basic sizing chart, and outfit suggestions. Enough information to get started all you need is measuring tape and a camera.
                    </p>
                   @* <script src="https://shopyourshape.com/sys-widget/sys-widget.js" type="text/javascript"></script><div id="sys-calculator"></div>*@
                    @*database error*@
                </div>
            </aside>

        </div>
    </section>

    <footer>
        <p>À La Mode, Copyright &copy; 2019</p>
        </footer>
</body>
</html>
