<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/ALaModeStyleSheet.css" rel="stylesheet" />
</head>
<body>
    @*<h1> content from layout</h1>*@
    <div>
        @RenderBody()
    </div>
</body>
</html>